div.dark-mode section div,
div.dark-mode main span,
div.dark-mode main svg,
body.dark-mode,
div.dark-mode {
    background-color: #212529;
    color: #f8f9fa;
    border-color: #f8f9fa!important;
}

#capa {
    border-bottom: 1px solid #252525;
    height: 30vh;
    background-image: url('../img/main_full.png');
    background-repeat: no-repeat;
    background-size: auto 45vh;
    background-position: right top;
    background-color: #fbf8f4;
}

#foto {
    height: 30vh;
    width: auto;
}

#fotoLink {
    position: relative;
    left: 5vw;
    top: 7.5vh;
}

#nome {
    position: relative;
    left: calc(35vh + 5vw);
    width: max-content;
    top: 0;
}

#localizacao {
    position: relative;
    left: calc(35vh + 5vw);
    width: max-content;
}


/*Para usuarios com base no Chromium (Chrome, Microsoft Edge Insider, Opera)*/

::-webkit-scrollbar {
    width: 0.5vw;
    background: #afafaf00;
}

::-webkit-scrollbar-thumb {
    background: #7f7f7f;
}

::-webkit-scrollbar-thumb:hover {
    background: #7f7f7f;
}

@media (min-width: 992px) {
    #div-apresentacao {
        padding-left: calc(50% - 345px) !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #capa {
        height: 40vh;
        background-size: auto 40vh;
    }

    #foto {
        height: 35vh;
    }

    #fotoLink {
        top: 14.5vh;
    }

    #nome {
        left: calc(40vh + 5vw);
    }

    #localizacao {
        left: calc(40vh + 5vw);
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #capa {
        height: 40vh;
        background-size: auto 40vh;
    }

    #foto {
        height: 35vh;
    }

    #fotoLink {
        top: 14.5vh;
    }

    #nome {
        left: calc(40vh + 5vw);
    }

    #localizacao {
        left: calc(40vh + 5vw);
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #capa {
        height: 40vh;
        background-size: auto 40vh;
    }

    #foto {
        height: 30vh;
    }

    #fotoLink {
        top: 17.5vh;
    }

    #nome {
        left: calc(33vh + 5vw);
    }

    #localizacao {
        left: calc(33vh + 5vw);
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #capa {
        height: 35vh;
        background-size: auto 35vh;
    }

    #foto {
        height: 20vh;
        margin-right: auto;
    }

    #fotoLink {
        top: 20vh;
        left: calc(50vw - 12vh);
    }

    #nome {
        left: unset;
        text-align: center;
        margin-top: 4vh;
        width: auto;
    }

    #localizacao {
        left: unset;
        text-align: center;
        width: auto;
    }
}

@media (min-width: 1px) and (max-width: 319px) {
    #capa {
        height: 20vh;
        background-size: auto 20vh;
    }

    #foto {
        height: 15vh;
    }

    #fotoLink {
        top: 8.75vh;
        left: calc(50vw - 10vh);
    }

    #nome {
        left: unset;
        text-align: center;
        margin-top: 4vh;
        width: auto;
    }

    #localizacao {
        left: unset;
        text-align: center;
        width: auto;
    }
}